@font-face {
    font-family: 'commandocommando';
    src: url('../fonts/commando-webfont.eot');
    src: url('../fonts/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/commando-webfont.woff') format('woff'),
         url('../fonts/commando-webfont.ttf') format('truetype'),
         url('../fonts/commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body,#canvas {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    background: #33334d;
}

#controls {
    height: 100%;
    width: 300px;
    background-color: #253d3d;
    position: absolute;
    box-shadow: inset 0px 0px 50px 20px #2F4F4F;
    border-radius: 10px;
    margin: 5px;
}

#controls h1 {
    margin: 10px 0;
    font-weight: normal;
    font-size: 3em;
    padding: 0;
    font-family: "commandocommando", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    color: #FDFDFF;
    text-shadow: 1px 1px 0 #333, 2px 2px 0px #333, 3px 3px 0 #333;
    text-align: center;
    letter-spacing: 3px;
}

#audio_controls {
    /* background-color: #62A09D; */
    background-color: rgba(98, 160, 157, 0.1);
    border: 4px solid rgba(98, 160, 157, 0.2);
    width: 50px;
    height: 50px;
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    border-radius: 5px;

}

